<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>, 
<%= link_to 'Search', search_article_path %>
<table>
	<thead>
		<tr>
			<td>Title</td>
			<td>Text</td>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
		</tr>
		<% end %>
	</tbody>
</table>